.survey {
    font-size: .9em;
    page-break-after: always;
}

.agTable {
	border-color: rgb(204, 204, 204);
	border-width: 0 0 1px 1px;
	border-style: solid;
	margin: .5em 0;
}

.agTable TD {
	border-color: rgb(204, 204, 204);
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	padding: 3px;
}

.agTableHeaderRow {
	background-color: rgb(204, 204, 204);
	height: 1.5em;
	white-space:nowrap;
}
.agTableHeaderRow TD {
	vertical-align: middle;
	border-width: 0;
	padding: 0;
	margin: 0;
	padding-left: 2px;
	font-size: .9em;
	font-weight: bold;
	white-space: nowrap;
}

.agTableHeaderCellTable {
	margin: 0;
	padding: 0;
	border-width: 0;
}

.agTableHeaderCellTable TD {
	border-width: 0;
	padding: 0;
	margin: 0;
	padding-left: 2px;
}

.agTableHeaderCellName {
	font-size: .9em;
	font-weight: bold;
	white-space: nowrap;
}

.agTableCellButton {
	height: 16px;
	width: 16px;
}
.agTableCellButton a {
	height: 16px;
	width: 16px;
	cursor: pointer;
	color: transparent;
	display: block;
}

.agTableSU 			{ background: url('/Web/Icons/agTable/agTableSU.png') no-repeat; }
.agTableSU:hover 	{ background: url('/Web/Icons/agTable/agTableSUH.png') no-repeat; }
.agTableSD 			{ background: url('/Web/Icons/agTable/agTableSD.png') no-repeat; }
.agTableSD:hover 	{ background: url('/Web/Icons/agTable/agTableSDH.png') no-repeat; }
.agTableX 			{ background: url('/Web/Icons/agTable/agTableX.png') no-repeat; }
.agTableX:hover 	{ background: url('/Web/Icons/agTable/agTableXH.png') no-repeat; }
.agTableP 			{ background: url('/Web/Icons/agTable/agTableP.png') no-repeat; }
.agTableP:hover 	{ background: url('/Web/Icons/agTable/agTablePH.png') no-repeat; }

.agTableSUS			{ background: url('/Web/Icons/agTable/agTableSUH.png') no-repeat; }
.agTableSUS:hover	{ background: url('/Web/Icons/agTable/agTableSDH.png') no-repeat; }

.agTableSDS			{ background: url('/Web/Icons/agTable/agTableSDH.png') no-repeat; }
.agTableSDS:hover	{ background: url('/Web/Icons/agTable/agTableSUH.png') no-repeat; }


.agTableHeaderForm {
	width: 140px;
}

.agTableHeaderFormBox {
	float: left;
	display: block;
}

#agTableAutoCompleteBox {
	width: 120px;
}

.agTableRow {
	font-size: .9em;
}

.agTableRow TD {
	vertical-align:top;
}

.agTableCellIcon {
	padding: 3px;
	width: 129px;
}

/* saved tables area */

.agTableSaved {
	clear: both;  
	margin: 2em auto;
	padding: 2em 2em 0 2em;
    font-size: .8em;
	border-top: 1px solid #ccc;
}
    

        
	